$color_amber: #ebcb8b;
$font_family: 'Source Code Pro', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    &::before {
        box-sizing: inherit;
    }
    &::after {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    font-family: $font_family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 0.7em;
}

.header {
    margin-bottom: 3.5rem;
    h1 {
        margin-block-end: 0.5em;
    }
    h2 {
        font-size: 1.3em;
    }
}

.amber {
    color: $color_amber
}